<!doctype html>
                <html lang="en">
                  <head>
                    <meta charset="utf-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                    <link rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
                    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
                    crossorigin="anonymous">
                    <title>{{planet}}</title>
                  </head>
                  <body>
                    <h1>Мое предлжение: {{planet}}</h1>
                    <div class="alert alert-danger" role="alert">
                      Вери гууд планета
                    </div>
                    <div class="alert alert-success" role="alert">
                      Хороши планета
                    </div>
                    <div class="alert alert-info " role="alert">
                      Тре бьен планета
                    </div>
                    <div class="alert alert-warning " role="alert">
                        Сделаем плане2
                    </div>
                  </body>
                </html>